alias debug="clear; ./debug.sh"
alias release="clear; ./release.sh"

export TESTS="-DPARSER_BUILD_TESTS=1"
export TOOLS="-DPARSER_BUILD_TOOLS=1"
export EXAMPLES="-DPARSER_BUILD_EXAMPLES=1"

alias gdb-test="debug $TESTS && gdb --args ./build-Debug/test_parser"
alias debug-test="debug $TESTS && ./build-Debug/test_parser"
alias release-test="release $TESTS && ./build-Release/test_parser"
alias test_parser="./build-Release/test_parser"

alias gdb-tgf="debug $TOOLS && gdb --args ./build-Debug/tgf"
alias debug-tgf="debug $TOOLS && ./build-Debug/tgf"
alias release-tgf="release $TOOLS && ./build-Release/tgf"
alias tgf="./build-Release/tgf"

alias debug-examples="debug $EXAMPLES"
alias release-examples="release $EXAMPLES"
