alias debug="clear; ./dev debug"
alias release="clear; ./dev release"

export TESTS="-DTAU_PARSER_BUILD_TESTS=1"
export TOOLS="-DTAU_PARSER_BUILD_TGF=1"
export EXAMPLES="-DTAU_PARSER_BUILD_EXAMPLES=1"

alias gdb-test="debug $TESTS && gdb --args ./build-Debug/test_parser"
alias debug-test="debug $TESTS && ./build-Debug/test_parser"
alias release-test="release $TESTS && ./build-Release/test_parser"
alias test_parser="./build-Release/test_parser"

alias gdb-tgf="debug $TOOLS && gdb --args ./build-Debug/tgf"
alias debug-tgf="debug $TOOLS && ./build-Debug/tgf"
alias release-tgf="release $TOOLS && ./build-Release/tgf"
alias tgf="./build-Release/tgf"

alias debug-examples="debug $EXAMPLES"
alias release-examples="release $EXAMPLES"
