build
build-*
*-config.cmake
*.inc.h.bak*
.vscode
forest*.dot
graph*.dot
tree*.dot
forest_facts*.tml
graph_grammar_rules*.tml
forest_grammar_rules*.tml
.local
.*_history
./tau-lang
.gdbinit
src/doctest.h
_site/*
src/version_license.h
